{% extends "company/base.html" %}
{% load static %}
<!--  we can use base template by extending it; we want our for loop or any other content present in home page to override the blockcontent of base.html-->
{% block content %}	
			  
			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg">
                <img src="img/services-bg/mobile-app-development.jpg" alt=".." class="img-resp" style="margin-top: 115px;">
                </div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Home				
							</h1>	
							<p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="blog-home.html"> Mobile App Development</a></p>
						</div>											
					</div>
				</div>
			</section>
			<!-- End banner Area -->	
			
			<!-- Start Banner-content Area -->
			
            <div class="mobile-app">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 my_li my_li_bef">
							 <div class="top-box tbox-1">
								<div class="feature-box fbox-center fbox-outline">
									<div class="fbox-icon">
										<img src="img/mobile-app/andriod.png" alt=".." style="width: 23px; height: 25px;">
									</div>
									<h3>Android Application Development</h3>

								</div>
							 </div>
                            </div>
                            
                            
                            <div class="col-md-3 col-sm-6 my_li my_li_bef">
							<div class="top-box tbox-2">
								<div class="feature-box fbox-center fbox-outline">
									<div class="fbox-icon">
										<img src="img/mobile-app/apple.png" src="" style="width: 23px; height: 25px;">
									</div>
									<h3>iOS Application Development</h3>

								</div>
							</div>
                            
                        </div>
                            <div class="col-md-3 col-sm-6 my_li my_li_bef">
							<div class="top-box tbox-3">
								<div class="feature-box fbox-center fbox-outline">
									<div class="fbox-icon">
										<img src="img/mobile-app/iphone-png.png" alt=".." style="width: 18px; height: 25px;">
									</div>
									<h3>Hybrid Application Development</h3>

								</div>
							</div>

						</div>
                            
                            <div class="col-md-3 col-sm-6 my_li my_li_bef">
							<div class="top-box tbox-4">
								<div class="feature-box fbox-center fbox-outline">
									<div class="fbox-icon">
										<img src="img/mobile-app/crossplaform.png" alt="" style="width: 23px; height: 25px;">
									</div>
									<h3>Cross-platform App Development<br>
							<!-- Consulting--></h3>

								</div>
							</div>

						</div>
                            
                        </div>     
                    </div>
            </div>
            
            
            
			<!-- End banner-end Area -->
			
            <section class="app-develop">
                    <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8">
                                    
                                    <h2>Android App Development</h2>
                                    <span style="border-bottom: 3px solid #fab700"></span>
                                    
                                    <p>Android being popular with its every update is attributed to its flexibility and user-friendliness, Xeliumtech helps build quality user-centric and highly versatile Android apps. These can be Interactive end user applications, Enterprise and Business Apps, Utility Apps, High end Media apps, Social apps all finely created with focus on scalability and sturdiness and support across all Android Devices.</p>
                                
                                
                                </div> 
                                <div class="and-img col-md-4">
                                <img src="img/our_skills/android.png" alt=".." class="img-resp" style="width: 190px; height: 200px;">
                                
                                </div>
                                <div class="clear"></div>
                                
                            </div>
                    </div>
            
            </section>
            
            <section class="ios-develop">
                    <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="img/our_skills/iOS.png" alt=".." class="img-resp" style="width: 260px; height: 160px;">
                                    
                                
                                </div> 
                                <div class="ios-img col-md-9">
                                <h2>iOS App Development</h2>
                                    <span style="border-bottom: 3px solid #fab700"></span>
                                    
                                    <p>Android being popular with its every update is attributed to its flexibility and user-friendliness, Xeliumtech helps build quality user-centric and highly versatile Android apps. These can be Interactive end user applications, Enterprise and Business Apps, Utility Apps, High end Media apps, Social apps all finely created with focus on scalability and sturdiness and support across all Android Devices.</p>
                                
                                
                                </div>
                                
                            </div>
                    </div>
            
            </section>
            
            <section class="hybrid">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-9">
                        <h2>Hybrid App Development</h2>
                        <p>Hybrid Applications combine the best of worlds, web and native applications. Xeliumtech has an experienced, high-performing team of Web, Native and Hybrid Application Developers who implement ideas to build scalable and secure Apps that have the ability to handle any business and IT needs. We combine the power of Javascript, HTML5, and CSS3 with Native features to develop best of Hybrid applications</p>
                        </div>
                        <div class="hy-img col-md-3">
                            <img src="img/our_skills/hybrid.png" class="img-resp">
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="cross-b">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="img/our_skills/cross-d.png" alt="..">
                        </div>
                        <div class="col-md-9">
                        <h2>Cross Browser App Development</h2>
                        <p>Hybrid Applications combine the best of worlds, web and native applications. Xeliumtech has an experienced, high-performing team of Web, Native and Hybrid Application Developers who implement ideas to build scalable and secure Apps that have the ability to handle any business and IT needs. We combine the power of Javascript, HTML5, and CSS3 with Native features to develop best of Hybrid applications</p>
                        
                        </div>
                    </div>
                </div>
            </section>

{% endblock content%}
            
            
